/* referencia por palabra clave */
body{
<<<<<<< HEAD
    background-color: black;
=======
    background-color: rgba(22, 88, 175, 0.788);

}

/*referencia por palabra clave*/
article{
    background-color: rgb(44, 43, 43);
}

<<<<<<< HEAD
.resaltado {
        color:yellow
}
